.form{
    width: 400px;
    margin: 0 auto;
}
.main{
    margin: 0 auto;
    width: 600px;
}
.table{
    /* background-color: rgb(190, 43, 68); */
    padding-left: 20%;
}
.title{
    text-align: center;
    color: rgb(23, 116, 116);
}
.header{
    text-align: center;
}
.warning{
    background-color:rgb(255, 255, 110);
    text-align: center;
    width: 50%;
    height: 60px;
    margin: 0 auto;
    padding-top: 5px
}
input[type='text'],input[type='date'],textarea {
    width: 400px;
    border-radius: 2px;
    border: 1px solid #CCC;
    padding: 10px;
    color: #333;
    font-size: 14px;
    margin-top: 10px;
}
option{
    width: 400px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid #CCC;
    padding: 10px;
    color: #333;
    background-color: white;
    font-size: 14px;
    margin-top: 10px;
}
input[type='submit'],select{
    padding: 10px 25px 8px;
    color: #fff;
    background-color: #0067ab;
    text-shadow: rgba(0,0,0,0.24) 0 1px 0;
    font-size: 16px;
    box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0;
    border: 1px solid #0164a5;
    border-radius: 2px;
    margin-top: 10px;
    cursor:pointer;
}
input[type='submit']:hover {
    background-color: #024978;
}
/* table */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
.done{
    background-color: rgb(93, 148, 93);
    text-align: center;
    width: 50%;
    height: 60px;
    margin: 0 auto;
    padding-top: 5px;
}
.fail{
    background-color: rgb(150, 46, 60);
    text-align: center;
    width: 50%;
    height: 60px;
    margin: 0 auto;
    padding-top: 5px;
}
.info{
    background-color: rgb(60, 133, 161);
    text-align: center;
    width: 50%;
    height: 60px;
    margin: 0 auto;
    padding-top: 15px;
}
/* admin */
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr{
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
.container{
    width: 100%;
    height: 100%;
}
.head{
    width: 100%;
}
.edit{
    width: 50%;
    background-color: #85b885;
    float: left;
}
.mech{
    width: 50%;
    background-color: crimson;
    float: left;
}
.alertp{
    padding: 20px;
  background-color: #36f46f;
  color: white;
}
.alertd{
    padding: 20px;
  background-color: #f44336;
  color: white;
}